* {
    box-sizing: border-box;
} 

 body{
    background-color: palevioletred;
    color: antiquewhite;
    margin: 0;
  padding: 0;
  text-align: center;

    
}
h1{
    text-align: center; 
     padding: 5px; 
     margin: 0;
}
    /* header{
        height: 10vh;
       background-color: aqua;
     margin-top: 0px;
      margin-bottom: 5px;
    } */

    
    
/* .Photo-area{ */
    /* height:20vh ; */
   
  /* background-color: blue; */
/* } */
.canvas-container {
    /* display: grid; */
    width: 40vw;
    margin: 10px auto;
    background-color: beige;
    border: 3px solid rgb(149, 23, 122);
    
}
canvas {
    /* display: grid; */
    background-color: white;
    margin: 0 auto;
   /* grid-column: 1/2;
   grid-row: 2/5; */
}
img{
    /* height:60px; */
     /* width: 150px;
    cursor: pointer;
    filter: grayscale(.7); */
    
}
.gallery{
   
   
    display: flex; 
    /* grid-column: 2/3;
    grid-row: 3/5;
    height: 100px;  */
   align-items: start;
    justify-content: center;
    gap: 10px; 
}
.gallery img{
     width: 50px;
    cursor: pointer;
    grid-column-start:2 ;
   grid-column-end: 3;

    /* filter: grayscale(.7); */
}
.main-layout{
    /* display: grid; */
    grid-template-columns: 50% 40%;
    grid-template-rows:25% 25% 25% 25% ;
    /* background-color: aqua; */
}
.opacity{
    opacity: 0;
}