* {
    box-sizing: border-box;
}

body {
     background-color: palevioletred; 
    color: antiquewhite;
    margin: 0;
    padding: 0;
    text-align: center; 


}

h1 {
    text-align: center;
    padding: 5px;
    margin: 0;
}

.canvas-container {
    /* grid-row: 1; */
     width: 45vw; 
    margin: 10px auto;
    background-color: beige;
    border: 3px solid rgb(149, 23, 122);
    padding: 0;
    min-width: 300px; 
}

.txt-input {
     display: flex;
    flex-wrap: wrap; 
}


canvas {
    display: block;
    /* מוריד את הרווח מתחת לקנבס */
    width: 100%;
    /* הקנבס תמיד ברוחב כל הקונטיינר */
    background-color: white;
    margin: 0 auto;

    background-color: white;
    margin: 0 auto;

}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    gap: 10px;
   
}

.gallery img {

     width: 150px;
    height: auto;
    cursor: pointer; 

}

.main-layout {
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
     gap: 20px;
    width: 90vw;
    margin: auto; 

}

/* .generator { */
    /* display: grid;

    gap: 12px; */
/* } */


.opacity {
    opacity: 0;
   
    } 


 .hidden{
    display: none;
 }

 .btns button{
    
    height:30px;
    /* width: 50px;  */
     color: gold;
    background-color: rgb(153, 38, 163);
}


.btns-color {
    height: 30px;
}

/* .btn1 { */
    /* display: grid; */
    /* grid-row:2/3 ; */
    /* display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center; */
/* } */

